.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px; 
}

.title
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 1100;
    font-size: 40px;
    color: #d1d0c5;
}

.description
{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    width: 70%;
}